:root {
    --co-white: #fff;
    --co-green: #027b58;
    --co-green-dark: #245852;
    --co-green-light: #01996D;
    --co-black: #424242;
    --co-black-light: #484848;
}

/* media breakpoints: 992px, 768px, 576px, 480px */